<!-- templates/Reset-password-notification.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Password Anda Telah Diatur Ulang</title>
</head>

<body>
    <h2>Hai, {{name}}</h2>
    <p></p>
    <p>Kata sandi dari akun anda berhasil diperbarui. Anda sudah bisa menggunakan kata sandi ini untu mengakses akun anda.
        Harap jaga kerahasiaan kata sandi anda dan jangan memberitahukannya kepada siapapun.</p>
    </p>

    <br>

    <p>Salam Hormat, <br>Tim FindYourTicket</p>
</body>

</html>